html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #8ac3b9;
    font-family: copperplate, trebuchet, sans-serif;
}

.index h1 {
    font-size: 70px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    background-color: bisque;
}


ul {
    list-style-type: none;
    font-size: 20px;
}

.index ul {
    font-size: 30px;
    background-color: rgb(182, 217, 143);
    width: 600px;
    margin:  -10px auto;
    padding: 30px 20px;
    list-style-type: disc;
    list-style-position: inside;
}

.index li {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.index li::marker {
    color: #2b390b;
}

a:link {
    color: #2b390b;
}

a:visited {
    color: darkolivegreen;
}

a:hover {
    color: lightseagreen;
}

.credit {
    font-size: 10px;
    padding-top: 0px;
}

.recipe-card {
    border: 5px dashed #918369;
    width: 800px;
    padding: 70px 15px 15px 15px;
    margin: -80px auto 15px auto;
}

.recipe-photo {
    display: block;
    margin: 0px auto;
}
